* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.main{
    display: grid;
    grid-template-columns: 15rem 30rem;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.containerLeft{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.foto{
    display: flex;
    justify-content: center;
}

.myFoto{
    max-width: 90%;
}

.contacts,
.qualities,
.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.contacts__title,
.qualities__title,
.skills__title{
    font-size: 23px;
    font-weight: 600;
}

.qualities__p,
.skills__p{
    text-align: end;
    font-size: 18px;
}

.containerRight{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.title__profession{
    background-color: #68889f;
    color: #fff;
    padding: 5px 0 5px 5px;
    font-size: 18px;
}

.title__name{
    font-size: 30px;
}

.title__employment{
    font-size: 18px;
}

.personalDetails,
.education,
.additionalInformation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personalDetails__title,
.education__title,
.additionalInformation__title{
    font-size: 23px;
    font-weight: 600;
}

.personalDetails__p,
.education__p,
.additionalInformation__p{
    text-align: start;
    font-size: 18px;
}

.personalDetails__span,
.education__span,
.additionalInformation__span{
    font-size: 18px;
    font-weight: 600;
}

.education__section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education__section-title{
    color: #68889f;
    font-size: 20px;
}

@media(max-width: 400px){
    .main{
        display: flex;
        gap: 40px;
        margin-top: 30px;
        flex-direction: column-reverse;
        padding: 8px;
    }

    .containerLeft {
        max-width: 100%;
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    .foto{
        display: none;
    }

    .contacts,
    .qualities,
    .skills{
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .qualities__p,
    .skills__p{
        text-align: start;
        font-size: 14px;
    }

    .personalDetails__title,
    .education__title,
    .additionalInformation__title,
    .contacts__title,
    .qualities__title,
    .skills__title{
        font-size: 18px;
        font-weight: 600;
    }

}

@media(max-width: 800px){
    .personalDetails__title,
    .education__title,
    .additionalInformation__title,
    .contacts__title,
    .qualities__title,
    .skills__title{
        font-size: 18px;
        font-weight: 600;
    }
}